services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: user_vapeur
      POSTGRES_DB: vapeur_db
      POSTGRES_PASSWORD: Vapeur
    volumes:
      - db_data:/var/lib/postgresql/data  
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_vapeur -d vapeur_db"]
      interval: 5s
      timeout: 5s
      retries: 5
  app:
    build: .
    restart: always
    ports:
      - "3042:3042"
    environment:
      DATABASE_URL: postgresql://user_vapeur:PLACEHOLDER@db:5432/vapeur_db?schema=public
    secrets:
      - db_password
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - /app/node_modules

volumes:
  db_data:

secrets:
  db_password:
    file: ./db_password.txt